<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Formulario de Registro Modalidades</h1>
        <form action="/rmodalidad" method="POST">
            <div class="form-group">
                <label for="nombre_modalidad">Nombre Modalidad</label>
                <select class="form-control" id="nombre_modalidad" name="nombre_modalidad" required>
                    <option value="" disabled selected>Seleccionar modalidad</option>
                    <option value="Presencial">Presencial</option>
                    <option value="Virtual">Virtual</option>
                    <option value="Distancia">Distancia</option>
                </select>
            </div>
            <a href="/mostrar_modalidad" type="button" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>